<div>
  <h1>Elevator with closest algo</h1>
  <p>Current Floor: {{ elevator.currentFloor }}</p>
  <p>Destination Floor: {{ elevator.destinationFloor }}</p>
  <p>Queue:</p>
  <ul>
    <li *ngFor="let item of elevator.floorQueue">{{ item }}</li>
  </ul>
</div>
<div>
  <label for="floorInput">Request Floor:</label>
  <input type="number" id="floorInput" #floorInput>
  <button (click)="requestFloor(floorInput.value)">Request Floor</button>
  <button (click)="startElevator()">Start Elevator</button>

  <div>
    <h1>Elevator Logs:</h1>
    <ul>
      <li *ngFor="let log of logs">{{ log }}</li>
    </ul>
  </div>
</div>
